.primeiro{
    display:inline-block;
    margin-right:50px;
    margin-left: 40px;
    width:250px;
    border: 7px solid;
    border-color: brown;
}

.segundo{
    display:inline-block;
    margin-right: 50px;
    width:250px;
    border: 7px solid;
    border-color: brown;
}

.terceiro{
    display:inline-block;
    margin-right: 50px;
    width:250px;
    border: 7px solid;
    border-color: brown;
}

.quarto{
    display:inline-block;
    width:250px;
    border: 7px solid;
    border-color: brown;
}




